<footer class="footer">
    <div class="footer-container">
        <div class="copyright">
            <a href="#">NEWSLAND trademark</a>
            <p class="footer-copyright-text">&copy; <script>document.write(new Date().getFullYear())</script>
             NEWSLAND™, all rights reserved</p>
        </div>

        <div class="footer-tech-info">
            <span>Site developed by Juan Luna using one of the latest, most secured Javascript <a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank"><img src="/js-icon.png" /></a> technologies: Deno</span>
            <a href="https://deno.land" target="_blank"><img src="/deno.jpg" /></a>
        </div>

        <div class="separator"></div>
        <div class="footer-links">
            <div class="footer-categories">
                <h5>Categories</h5>
                <ul class="category-links">
                    <li><a href="/articles/finance">Finance</a></li>
                    <li><a href="/articles/technology">Technology</a></li>
                    <li><a href="/articles/science">Science</a></li>
                    <li><a href="/articles/world">World</a></li>
                </ul>
            </div>

            <div class="footer-bottom">

                <div class="footer-information-links">
                    <h5>INFORMATION</h5>
                    <ul class="">
                        <li><a href="#">About</a></li>
                        <li><a href="/contact">contact us</a></li>
                        <li><a href="/terms">terms</a></li>
                    </ul>
                </div>

                <div class="footer-networks-links">
                    <h5>FOLLOW US</h5>
                    <ul class="">
                        <li><a href="https://www.instagram.com/" target="_blank">instagram</a></li>
                        <li><a href="https://www.facebook.com/" target="_blank">facebook</a></li>
                        <li><a href="https://www.twitter.com/" target="_blank">twitter</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>